.UserProfile {
  width: 100vw;
  height: 95vh;
  background-color: aliceblue;
  padding-top: 30px;
}

body {
  margin: 0;
  padding: 0;
}

.main-content {
  margin-left: 50px;
  height: 95%;
  width: 75%;
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.sidebar-content-header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

@media screen and (min-width: 800px) {
  .main-content {
    width: 80%;
  }
}
