.mainheader {
  margin-top: 50px;
}
.communication_header_heading {
  margin-left: -350px;
  display: inline-block;
  padding: 5px;
  background-color: #5ae34d;
  color: white;
  border-radius: 10px;
}
.communication_header_subtitle {
  margin-left: -350px;
  font-weight: bold;
}
.communication_header_description {
  margin-left: -350px;
  color: #008b8b;
  font-weight: bolder;
}
.communication_detail_title {
  display: inline-block;
  background-color: rgb(90, 227, 77, 0.3);
  color: rgb(0, 189, 60);
  padding: 5px;
  margin-left: -120px;
  width: 5vw;
  height: 5vh;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
}
.communication_mid_content_title {
  display: inline-block;
  background-color: rgb(90, 227, 77, 0.3);
  padding: 5px;
  text-align: center;
  color: #00bd3c;
  border-radius: 15px;
  width: 4vw;
  height: 5vh;
  size: "0.2em";
  font-weight: bolder;
}
.communication_mid_content_description {
  font-size: 2em;
  font-weight: bold;
}
.communication_detail_content_title {
  font-weight: bolder;
  margin-left: -120px;
}
.communication_detail_description {
  margin-left: -120px;
  font-weight: bolder;
}

.commPage {
  height: 100%;
  padding-bottom: 35vh;
}
